header
  .container.flex.between.nav-bar
    a.logo.flex.center(href="/")
      img(src='/img/logo.svg' alt='mizucoffee')
    nav.flex
      a.button.flex.center(href="/") Home
      a.button.flex.center(href="/contact.html") Contact
  .header-img
